@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 80%;
    --input: 20 5.9% 80%;
    --ring: 20 14.3% 4.1%;
    --text: 208, 7%, 46%;
    --radius: 0.5rem;
    --chart-1: 50 97% 63%;
    --chart-2: 324 86% 83%;
    --chart-3: 0 93% 81%;
    --chart-4: 211.7 96.36% 78.43%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 11% 8%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 35.5 91.7% 32.9%;
    --text: 210, 14%, 89%;
    --chart-1: 50 97% 63%;
    --chart-2: 333 79% 71%;
    --chart-3: 0 80.6% 70.78%;
    --chart-4: 213.12 93.9% 67.84%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .text {
    @apply text-zinc-600 dark:text-zinc-300;
  }
}

::-webkit-scrollbar {
  @apply hidden;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 dark:bg-zinc-700 rounded-full;
}

.shadow-new {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadow-d {
  @apply shadow-new dark:shadow-none;
}
.h-screen {
  height: 100dvh;
}
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #00bbff !important;
  color: black !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: grey !important;
  color: white;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: hsl(47.9, 95.8%, 53.1%) !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
  border-radius: 10px;
  overflow: hidden;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: var(--card) !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

.rbc-calendar * {
  border-color: rgba(128, 128, 128, 0.273) !important;
}

div.rbc-today {
  @apply dark:bg-blue-500/30 bg-blue-300/30;
}

.rbc-event:nth-child(1) {
  @apply bg-chart-1/80;
}
.rbc-event:nth-child(2) {
  @apply bg-chart-2/80;
}
.rbc-event:nth-child(3) {
  @apply bg-green-400/80;
}
.rbc-event:nth-child(4) {
  @apply bg-chart-4/80;
}
.rbc-event:nth-child(5) {
  @apply bg-chart-1/80;
}
.rbc-event:nth-child(6) {
  @apply bg-chart-2/80;
}
.rbc-event:nth-child(7) {
  @apply bg-green-400/80;
}
.rbc-event:nth-child(8) {
  @apply bg-chart-4/80;
}

.rbc-event-label {
  color: var(--card-foreground) !important;
  margin-bottom: 10px;
}
